<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
  <div class="registration-form" [formGroup]="registrationForm">
    <div>
      <div class="form__control">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name" placeholder="Input text" />
        <span id="nameErrorMessage" class="text-danger" *ngIf="getError('name','required')">Name is required.</span>
        <span id="nameErrorMessage" class="text-danger" *ngIf="getError('name','minlength')">Name should not be less than 6 symbols.</span>
      </div>
      <div class="form__control">
        <label for="email">Email</label>
        <input type="text" id="email" formControlName="email" placeholder="Input text" />
        <span id="emailErrorMessage" class="text-danger" *ngIf="getError('email','required')">Email is required.</span>
        <span id="emailErrorMessage" class="text-danger" *ngIf="getError('email','valid')">Email is invalid.</span>
      </div>
      <div class="form__control">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" placeholder="Input text" />
        <span id="passwordErrorMessage" class="text-danger" *ngIf="getError('password','required')">Password is
          required.</span>
      </div>
    </div>
    <div class="form__action">
      <app-button (click)="submit()">Submit</app-button>
      If you have an account you may <a href="Login" style="text-decoration: none;">Login</a>
    </div>
  </div>
</div>