<div class="course-card">
    <div class="course-card__description">
      <div class="course-card__description-title">{{course.title}}</div>
      <div class="course-card__description-text">{{course.description}}</div>
    </div>
    <div class="course-card__info">
        <div class="course-card__info-text">
            <div class="author-list">
              <b>Authors: </b>
              <ul *ngFor="let author of course.authors">
                <li>{{author}}</li>
              </ul>
            </div>
            <div><b>Duration: </b><span class="course-card__duration">{{course.duration}}</span></div>
            <div><b>Created: </b><span class="course-card__date">{{course.creationDate}}</span></div>
        </div>
        <div class="course-card__info-actions">
            <div class="course-card__buttons">
                <app-button [buttonText]="'SHOW COURSE'" (click)="showCourse()"></app-button>
                <ng-content *ngIf="isEditable"></ng-content>
            </div>
        </div>
    </div>
</div>
