<h2 class="text-align-center">Login</h2>
<div class="app-plate">
  <form #loginForm="ngForm">
    <div class="login-form">
      <div>
        <div class="form__control">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" [(ngModel)]="email" placeholder="Input text" emailValidator
            required />
          <span id="emailErrorMessage" class="text-danger"
            *ngIf="(loginForm.submitted || loginForm.controls?.['email']?.touched) && loginForm.controls['email'].errors?.['required']">Email
            is required.</span>
          <span id="emailErrorMessage" class="text-danger"
            *ngIf="loginForm.controls?.['email']?.touched && loginForm.controls['email'].errors?.['valid']">{{loginForm.controls['email'].errors!['valid'].message}}</span>
        </div>
        <div class="form__control">
          <label for="password">Password</label>
          <div class="input-wrapper">
            <input type="password" id="password" name="password" togglePassword #pw="togglePassword"
              [(ngModel)]="password" placeholder="Input text" required />
            <button type="button">
              <fa-icon [icon]="pw.visible?eyeIcon:eyeSlashIcon" (click)="pw.toggle()"></fa-icon>
            </button>
          </div>
          <span id="passwordErrorMessage" class="text-danger"
            *ngIf="(loginForm.submitted || loginForm.controls?.['password']?.touched) && loginForm.controls['password'].errors?.['required']">Password
            is required.</span>
        </div>
      </div>
      <div>
        <div class="form__action">
          <app-button (click)="login(loginForm)">Login</app-button>
        </div>
        <div class="form__text">
          If you don't have an account you may <strong>Registration</strong>
        </div>
      </div>
    </div>
  </form>
</div>