<app-header>
  <div class="header-display-info-actions">
    <span *ngIf="isLoggedIn">{{userName}}</span>
    <app-button [buttonText]="isLoggedIn?'Logout':'Login'"></app-button>
  </div>
</app-header>
<div class="app-root">

<!--
  <app-info>
    <app-courses [courses]="courses"></app-courses>
    <app-button [buttonText]="'Add New Course'"></app-button>
  </app-info>
-->
  <!-- Login Form component -->
  <app-login-form></app-login-form>

  <!-- Login Form component -->
  <!--<app-registration-form></app-registration-form>-->

  <!-- Login Form component -->
  <!--<app-course-form></app-course-form>-->

  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
</div>