<app-header>
  <div class="header-display-info-actions">
    <span *ngIf="isLoggedIn">{{userName}}</span>
    <app-button [buttonText]="isLoggedIn?'Logout':'Login'"></app-button>
  </div>
</app-header>
<div class="app-root">
  <!-- Search component -->
  <!--<app-search></app-search>-->
<!--
  <app-info>
    <app-courses-list *ngIf="courses.length>0; else listEmpty" [courses]="courses">
    </app-courses-list>
    <ng-template #listEmpty>
      <h3>Your List Is Empty</h3>
      <p>Please use 'Add New Course' button to add your first course</p>
    </ng-template>
    <app-button [buttonText]="'Add New Course'"></app-button>
  </app-info>-->

  <!-- Login Form component -->
  <!--<app-login-form></app-login-form>-->

  <!-- Login Form component -->
  <!--<app-registration-form></app-registration-form>-->

  <!-- Login Form component -->
  <app-course-form></app-course-form>

  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
</div>